*.json
*.xmsgs
*.xise
*.html
*.gise
*.xreport
*.projectmgr
*.lst
*.sim
*_info
*_1
*.c
*.didat
*.obj
*.vdb
*.xbcd
*.vho
*.ref
*vdbl
*.vdbx
*.exe
*.prj
*.xwbt
*.ncd
*.wdb
*.map
*.ncd
*.ngm
*.mrp
*.xrpt
*.csv
*.txt
*.xml
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.lso
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.cmd
*.log
*.ini