
#Switches para seleccionar servos
NET "servoSelect(1)" LOC = "F12";
NET "servoSelect(2)" LOC = "G12";
NET "servoSelect(3)" LOC = "H14";
NET "servoSelect(4)" LOC = "H13";
NET "servoSelect(5)" LOC = "J14";

#Salidas de PWM de cada uno de los servos
NET "servos(1)" LOC = "D5";
NET "servos(2)" LOC = "D6";
NET "servos(3)" LOC = "E7";
NET "servos(4)" LOC = "D7";
NET "servos(5)" LOC = "D8";

#Botones para control
NET "btn_inc" LOC = "M13";
NET "btn_dec" LOC = "M14";
#NET "btn_save" LOC = "L13";
#NET "btn_play" LOC = "L14";

#Switches para control
#NET "btn_reset" LOC = "K13";

#Clock interno de la tarjeta
NET "clk_50MHz" LOC = "T9";